*:focus {
  outline-color: var(--main-accent);
}

.btn:hover,
.btn:focus {
  box-shadow: inset 0 -4em 0 0 var(--main-accent);
  color: var(--back-light-dark);
  transition: box-shadow cubic-bezier(1, 0.14, 0.69, 1.01) 0.4s 0.02s,
    color cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s 0.1s;
  cursor: pointer;
  outline: none;
}

.form__input-box::before {
  content: '';
  transition: top 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity 0.2s ease-out,
    font-size 0.2s ease-out;
  height: 2px;
  width: 100%;
  min-width: 20px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-gray);
  /* background-image: linear-gradient(to right, var(--main-gray), var(--main-gray)); */
  background-image: linear-gradient(
    to right,
    var(--main-gray),
    var(--main-gray),
    var(--main-gray),
    var(--main-accent),
    var(--main-accent)
  );
  background-size: 300% 100%;
}
.active::before,
.form__input-box:hover::before {
  cursor: pointer;
  background-position: 100% 0;
  /* border: 2px solid red; */
  transition: all 0.4s ease-in-out;
}
.form__input-box:hover {
  cursor: text;
}
.form-control:focus {
  outline: none;
  transform: scale(105%);
  color: var(--main-accent);
}
.bth:focus {
  outline: none;
  transform: scale(110%);
  transition: scale 0;
}
img:hover {
  transform: scale(110%);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s 1.5s;
  cursor: pointer;
  outline: 2px solid var(--main-accent);
  outline-offset: 0.5rem;
}

/* ani pen */

.active-ani {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2e2d2eb5;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);

  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  margin: -1em -2em;

  overflow: hidden;
}

.ani-block {
  /* min-height: 100vh; */

  color: white;
  font-size: 1.5rem;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 6;
}
.pencil {
  position: relative;
  width: 45%;
  height: 20%;
  transform-origin: center;
  transform: rotate(135deg);
  animation: pencil-animation 10s infinite;
  z-index: 7;
}
@keyframes pencil-animation {
  0% {
    transform: rotate(135deg);
  }
  20% {
    transform: rotate(315deg);
  }
  45% {
    transform: translateX(90%) rotate(315deg);
  }
  55% {
    transform: translateX(90%) rotate(495deg);
  }
  100% {
    transform: rotate(495deg);
  }
}
.pencil__ball-point {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--main-accent);
  height: 10px;
  width: 10px;
  border-radius: 50px;
}
.pencil__cap {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(20% 40%, 100% 0%, 100% 100%, 20% 60%);
  background: #232123;
  width: 12%;
  height: 100%;
}
.pencil__cap-base {
  position: absolute;
  left: 12%;
  top: 0;
  height: 100%;
  width: 20px;
  background: #232123;
}
.pencil__middle {
  position: absolute;
  left: calc(12% + 20px);
  top: 0;
  height: 100%;
  width: 70%;
  background: var(--main-accent);
}
.pencil__eraser {
  position: absolute;
  left: calc(12% + 70% + 20px);
  top: 0;
  height: 100%;
  width: 11%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #232123;
}

.line {
  position: absolute;
  bottom: 20%;
  left: -8%;
  height: 10px;
  width: 50%;
  z-index: -1;
  border-radius: 50px;
  background: var(--main-accent);
  transform: scaleX(0);
  transform-origin: center;
  animation: line-animation 10s infinite;
}
@keyframes line-animation {
  20% {
    transform: scaleX(0);
  }
  45% {
    transform: scaleX(1.2);
  }
  55% {
    transform: scaleX(1.2);
  }
  100% {
    transform: scaleX(0);
  }
}

.load-txt {
  position: absolute;
  bottom: 20%;
  left: 4%;
  font-size: 1rem;
  z-index: 6;
}
