:root {
  --back-dark: #1c1c1c;
  --back-light-dark: #313131;
  --main-gray: #5e5e5e;
  --main-white: #fff;
  --main-light-text: rgb(212, 212, 212);
  --main-accent: rgb(224, 184, 5);
  --standert-rad: 5px;
}
ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  /* border: 1px solid rgba(120, 120, 120, 0.547); */
  font-family: 'Nunito', sans-serif;
}
.body {
  display: flex;
  position: relative;
  background-color: var(--back-light-dark);
}
.right-block {
  width: 72vw;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: var(--back-light-dark);
}
.left-menu {
  width: 30vw;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--back-dark);
  border-right: var(--main-gray) 3px solid;
}

.left-menu__frame {
  padding: 1rem 1.5rem;
  display: flex;
  height: 100vh;

  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.form {
  margin: 0;
}

.input-block__input-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.frame {
  padding: 0 4rem;
}
.input-block__input-form > * {
  width: 30%;
  margin-bottom: 0.4rem;
  padding: 0;
  position: relative;
}

.form__input {
  width: 100%;

  padding: 0.3rem 0.5rem;
}
.form__input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.select {
  height: 100%;
  width: 100%;
}
.second-section {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.output-data__calculated-data {
  padding: 0;
  margin: 0;
  margin-bottom: 0.8rem;
}
.choice__card {
  width: 45%;
  padding: 2rem 1.2rem;
  margin-bottom: 2rem;
}
.parametrs-parametr {
  padding: 0;
  margin: 0;
}
.choice__list {
  width: 100%;
  margin-bottom: 1.5rem;
}
.parametrs-parametr {
  margin-bottom: 0.6rem;
}
.choice__choice-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.choice {
  position: relative;
}

.small-descr {
  margin: 0;
  font-size: 14px;
  line-height: 0.8rem;
  color: #fff;
}
.general-parameters__graph {
  width: 80%;
  min-height: 500px;
}
.context-p {
  display: block;
  background-color: var(--back-dark);
  padding: 0;
  margin: 0;
  padding: 5px 0 5px 8px;
}
.context-p:nth-child(2n) {
  background-color: var(--back-light-dark);
}
.choice__choice-block {
  width: 100%;
}
.error {
  color: red;
}
.succes {
  color: rgb(47, 255, 0);
}
.requer {
  color: yellow;
}
.accent {
  color: var(--main-accent);
}
.txt {
  color: gray;
}
.right-block {
  padding-top: 2rem;
}
.main-title {
  color: var(--main-white);
  font-size: 50px;
  margin: 0;
  margin-bottom: 1.5rem;
}
.left-menu__link {
  color: var(--main-light-text);
  margin-bottom: 1rem;
}
.left-menu__link-txt {
  color: var(--main-light-text);
  margin-bottom: 1rem;
  text-decoration: none;
}
.content_paragraph {
  color: var(--main-light-text);
}
.logo-block {
  color: var(--main-white);
  height: 10vh;
  width: 100%;
}
.small-descr {
  color: var(--main-light-text);
}
.btn {
  border-radius: var(--standert-rad);
  padding: 0.5rem 3.7rem;
  min-width: 30%;
  color: var(--main-accent);

  overflow: hidden;
  text-align: center;
  background: none;
  border: 2px solid;
  border-color: var(--main-accent);
  line-height: 1;
}
.left-menu__nav-block {
  min-height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.left-menu__links-ul {
  width: 55%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.left-menu__link {
  text-align: center;
  font-size: 24px;
}
.left-menu__content-part {
  padding: 5px 8px;
  border: 2px solid var(--main-gray);
  border-radius: var(--standert-rad);
  min-height: 20vh;
  max-height: 25vh;
  width: inherit;
  width: 100%;
  /* overflow: scroll; */
}

.status-block__status {
  margin: 0;
}
.section-heading {
  margin: 0;
  margin-bottom: 1.2rem;
  color: var(--main-light-text);
}
.general-parameters__content {
  border: 2px solid var(--main-gray);
  border-radius: var(--standert-rad);
}
.choice__card {
  border: 2px solid var(--main-gray);
  border-radius: var(--standert-rad);
  min-height: 10vh;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-scrollbar::before {
  background-color: var(--main-accent);
}
.output-data__calculated-data {
  font-size: 18px;
  margin-bottom: 1.2rem;
  line-height: 1.5rem;
}
.general-parameters__data {
  margin-bottom: 2rem;
}
.general-parameters__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control {
  background-color: transparent;
  border: none;
  position: relative;
  color: #fff;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px var(--main-light-text) solid;

  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #2f2f2f03, #827c8624);
}

.table__cell {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px var(--main-light-text) solid;
  color: #fff;
  text-align: left;
}
.table__cell--heading {
  background-color: #e0b805cf;
}
.table__link {
  color: var(--main-light-text);
  text-decoration: none;
}
.table__link:hover {
  color: var(--main-accent);
}
.table__cell:hover {
  background-color: rgba(255, 255, 255, 0.306);
}
.table__cell--heading:hover {
  background-color: #e0b805cf;
}
tr:hover {
  background-color: rgba(255, 255, 255, 0.222);
}

.info__card,
.calc__card {
  width: 100%;
  padding: 1em 2em;

  display: flex;

  border: 2px solid var(--main-gray);
  border-radius: var(--standert-rad);
  margin-bottom: 2rem;
  position: relative;
}
.info__img {
  max-width: 65%;
  min-width: 40%;
  margin-right: 5rem;
  display: flex;
}
.parametrs-parametr {
  color: var(--main-light-text);
}
.graph-img {
  min-width: 250px;
  width: 100%;
  margin-bottom: 2rem;
}
.info__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info__property {
  margin: 0;
  padding: 0;
  margin-bottom: 0.8rem;
  color: var(--main-light-text);
}

.info__img .graph-img {
  margin-bottom: 0;
}
.info__property::after {
  content: ';';
  color: var(--main-accent);
  margin-right: 2px;
}
.info__property:not(:nth-child(2n)) {
  margin-right: 1rem;
}
.calc__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.calc__card .info__img {
  margin: 0;
  max-width: 49%;
}
div[class^='calc__block-'] {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div[class^='calc__block-'] > * {
  margin: 0;
  padding: 0;
  margin-right: 1rem;
  margin-bottom: 0.7rem;
  color: var(--main-light-text);
}
div[class^='calc__block-'] > *::after {
  content: ';';
  margin-right: 2px;
  color: var(--main-accent);
}
.calc__card .info__img {
  margin-bottom: 2rem;
}

/*  */
.back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #51515160;
  z-index: 5;
}
.zoom-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
}
.reserved {
  overflow: hidden;
}

.blocked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #31313178;
}
.choice__frame {
  display: flex;
  flex-wrap: wrap;
}
.choice__heading {
  min-width: 55%;
  margin-right: 1rem;
}
.auto-btn,
.plus-btn {
  width: inherit;
  padding: 0.2em 0.5em 0.3em;
  margin-bottom: 1.2rem;
}
.plus-btn {
  margin-right: 1.5rem;
  max-width: 2rem;
}
.choice__heading-block {
  width: 100%;
  display: flex;
}
.btns-block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.choice__btns {
  width: 45%;
}
.choice__btn-auto {
  max-width: 45%;
}
